.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.projectsCard {
  background-color: var(--primary);
  height: calc((100vw / 3) / 16 * 9);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectContainer {
  position: relative;
  height: calc(100% - 120px);
  width: calc(100% - 168px);
}
.projectImages {
  object-fit: contain;
  z-index: 0;
  transition: 0.4s;
  border-radius: 3px;
}
.projectInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: 0.4s;
}

.projectsCard h2 {
  text-align: center;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
}

.projectsCard p {
  font-size: 18px;
  text-align: center;
  margin: 8px 30px 0 30px;
  color: var(--white);
  font-weight: 300;
}

.madeWith {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  color: #a7a7a7;
  font-size: 14.4px;
}

.contaner:hover .projectImages {
  opacity: 0;
  transform: scale(1.1);
}

.contaner:hover .projectInfo {
  opacity: 1;
}

.linkContainer {
  padding-top: 16px;
}
.link {
  text-align: center;
  border: 2px solid var(--white);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--white);
  border-radius: 3px;
  font-weight: 500;
}

.link:hover {
  color: var(--primary);
  background-color: var(--white);
}
@media (max-width: 1700px) {
  .projectContainer {
    height: calc(100% - 68px);
    width: calc(100% - 82px);
  }
}

@media (max-width: 1300px) {
  .projectsGrid {
    grid-template-columns: 1fr 1fr;
  }

  .projectsCard {
    background-color: var(--primary);
    height: calc((100vw / 2) / 16 * 9);
  }
}

@media (max-width: 768px) {
  .projectsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .projectsCard {
    height: calc((100vw) / 16 * 9);
  }

  .projectContainer {
    height: calc(100% - 50px);
    width: calc(100% - 50px);
  }
}

@media (max-width: 425px) {
  .projectsCard p,
  .projectsCard h2 {
    font-size: 16px;
  }
  .link {
    font-size: 12px;
  }
  .linkContainer {
    padding-top: 8px;
  }

  .madeWith {
    font-size: 12.8px;
  }
  .projectContainer {
    height: calc(100% - 20px);
    width: calc(100%);
  }

  .projectsCard {
    border-radius: 0;
  }
}
