.main {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 11.52px;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-self: flex-end;
}
