.main {
  margin: 0 30px;
}
.headingContainer,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0px;
}

.headingContainer h1 {
  background-color: var(--primary);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  padding: 4px 40px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.headingContainer p {
  color: var(--grey);
  max-width: 550px;
  text-align: center;
  line-height: 27px;
}

@media (max-width: 768px) {
  .main {
    margin: 0 20px;
  }
}

@media (max-width: 425px) {
  .headingContainer h1,
  .headingContainer h1 p {
    font-size: 16px;
  }
}
