.main {
  margin: 0 30px;
}
.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0px;
}

.headingContainer h1 {
  background-color: var(--primary);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  padding: 4px 40px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.headingContainer p {
  color: var(--grey);
  max-width: 550px;
  text-align: center;
  line-height: 27px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.projects div {
  background-color: var(--primary);
  height: calc((100vw / 3) / 16 * 9);
  border-radius: 30px;
}

.imageContainer {
  background-color: blue;
  position: relative;

  border-radius: 3px;
  overflow: hidden;
}

.imageContainer img {
  border-radius: 3px;
  display: none;
}
