.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0px;
}

.headingContainer h1 {
  background-color: var(--primary);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  padding: 8px 40px;
  border-radius: 20px;
  margin-bottom: 8px;
}

.headingContainer p {
  color: var(--grey);
  max-width: 200px;
}
