.menu {
  position: absolute;
  left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.menu div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.linkContainer {
  position: relative;
  transition: 1s;
}
.linkContainer p {
  position: relative;
  color: var(--white);
}

.about:hover .aboutBackground {
  left: -136px;
}
.aboutBackground {
  position: absolute;
  background-color: var(--primary);
  left: 0;
  height: 30px;
  width: 136px;
  border-radius: 0 3px 3px 0;
  transition: 0.3s;
}

.educationBackground {
}

.technologiesBackground .menu p {
  top: 0;
  padding: 4px 40px;

  transition: 1s;
}

.selected {
  border-radius: 0 3px 3px 0;
  color: var(--white);
  background: rgb(37, 91, 72);
}
