.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
}

.link {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
